body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#imageDisplay {
    max-width: 90%;
    max-height: 70%;
    transition: transform 0.5s;
}

.glitch {
    filter: contrast(150%) hue-rotate(30deg);
}
